* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #386268 0%, rgba(52, 76, 80, 0.57) 100%),
    url("./assets/light-cloud.png");

  background-size: cover;
  background-position: center;
}

.hr-ab {
  background-color: #fff;
}

.image {
  width: 5em;
  height: 5em;
}
