* {
  box-sizing: border-box;
}

body {
  font-display: swap;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/light-cloud.png") no-repeat;
  padding: 0;
  margin: 0;
}

.hr-ab {
  background-color: #fff;
}

.image {
  width: 5.5em;
  height: 5.5em;
}
